<mat-form-field [floatLabel]="'always'">
  <mat-select (selectionChange)="changeActionsNumber($event.value)" [(value)]="defaultActions">
    <mat-option value="1-1">1 vs 1</mat-option>
    <mat-option value="1-2">1 vs 2</mat-option>
    <mat-option value="1-3">1 vs 3</mat-option>
    <mat-option value="2-1">2 vs 1</mat-option>
    <mat-option value="2-2">2 vs 2</mat-option>
    <mat-option value="2-3">2 vs 3</mat-option>
    <mat-option value="3-1">3 vs 1</mat-option>
    <mat-option value="3-2">3 vs 2</mat-option>
    <mat-option value="3-3">3 vs 3</mat-option>
  </mat-select>
</mat-form-field>

<h2>Joueur</h2>

<ng-container>
  @for (index of getPlayerActions(); track index) {
    <h3>Action numéro {{index + 1}}</h3>
    <app-action-type type="player" [index]="index"></app-action-type>
  }
</ng-container>

<mat-divider></mat-divider>
<mat-divider></mat-divider>

<h2>Adversaire</h2>

<ng-container>
  @for (index of getFoeActions(); track index) {
    <h3>Action numéro {{index + 1}}</h3>
    <app-action-type></app-action-type>
  }
</ng-container>

<button mat-raised-button color="primary" (click)="launchFight()">Combaaaaat !</button>
