
<!--{{attackForm.spriteUrl()}}-->
<!--{{attackForm.spriteUrl().invalid()}}-->

{{type()}}

{{index()}}

<!--{{actionService.getAttackModel(this.type(), this.index())}}-->

<!--@if (attackForm.spriteUrl.invalid()) {-->
<!--    <p>{{attackForm.spriteUrl.errors()[0].message}}</p>-->
<!--}-->

<div class="grid-container-top">
  <app-pokemon-select (focusout)="addPokemon($event)" class="pokemon-column" [field]="attackForm.pokemonSpecies"></app-pokemon-select>

  <mat-form-field floatLabel='always' class="sprite-url-column">
    <mat-label>Sprite URL (sprite par défaut si non rempli)</mat-label>
    <input matInput matNativeControl type="url" [formField]="attackForm.spriteUrl">
  </mat-form-field>

</div>

<div class="grid-container">
  <mat-form-field floatLabel='always'>
    <mat-label>NIV</mat-label>
    <input matInput matNativeControl type="number" [formField]="attackForm.level">
  </mat-form-field>

  <mat-form-field floatLabel='always'>
    <mat-label>PV actuel</mat-label>
    <input matInput matNativeControl type="number" [formField]="attackForm.pvActual">
  </mat-form-field>

  <mat-form-field floatLabel='always'>
    <mat-label>PV max</mat-label>
    <input matInput matNativeControl type="number" [formField]="attackForm.pvMax">
  </mat-form-field>

  <mat-form-field floatLabel='always'>
    <mat-label>ATK (base)</mat-label>
    <input matInput matNativeControl type="number" [formField]="attackForm.atk">
  </mat-form-field>

  <app-cran-input [label]="'ATK (cran)'" [field]="attackForm.atkStage"></app-cran-input>

  <mat-form-field floatLabel='always'>
    <mat-label>DEF (base)</mat-label>
    <input matInput matNativeControl type="number" [formField]="attackForm.def">
  </mat-form-field>

  <app-cran-input [label]="'DEF (cran)'" [field]="attackForm.defStage"></app-cran-input>

  <mat-form-field floatLabel='always'>
    <mat-label>ATK SPE (base)</mat-label>
    <input matInput matNativeControl type="number" [formField]="attackForm.atkSpe">
  </mat-form-field>

  <app-cran-input [label]="'ATK SPE (cran)'" [field]="attackForm.atkSpeStage"></app-cran-input>

  <mat-form-field floatLabel='always'>
    <mat-label>DEF SPE (base)</mat-label>
    <input matInput matNativeControl type="number" [formField]="attackForm.defSpe">
  </mat-form-field>

  <app-cran-input [label]="'DEF SPE (cran)'" [field]="attackForm.defSpeStage"></app-cran-input>

  <mat-form-field floatLabel='always'>
    <mat-label>VIT (base)</mat-label>
    <input matInput matNativeControl type="number" [formField]="attackForm.vit">
  </mat-form-field>

  <app-cran-input [label]="'VIT (cran)'" [field]="attackForm.vitStage"></app-cran-input>

  <app-cran-input [label]="'PREC'" [field]="attackForm.prec"></app-cran-input>

  <app-cran-input [label]="'ESQ'" [field]="attackForm.esq"></app-cran-input>

</div>

<div class="grid-container-bottom">
  <mat-form-field floatLabel='always'>
    <mat-label>Altération permanente</mat-label>
    <mat-select [formField]="attackForm.alterationPerma">
      @for (alteration of alterationsPerma; track alteration) {
        <mat-option [value]="alteration">{{alteration}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel='always'>
    <mat-label>Altération volatile</mat-label>
    <mat-select [formField]="attackForm.altertationTempo" multiple>
      @for (alteration of alterationsVola; track alteration) {
        <mat-option [value]="alteration">{{alteration}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel='always'>
    <mat-label>Dégâts par tour</mat-label>
    <mat-select [formField]="attackForm.turnDamage" multiple>
      @for (degat of degatsTour; track degat) {
        <mat-option [value]="degat">{{degat}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <app-pokemon-attack-select [field]="attackForm.attackName"></app-pokemon-attack-select>

  <mat-form-field floatLabel='always'>
    <mat-label>Cible</mat-label>
    <input #targetInput
           type="text"
           matInput
           [matAutocomplete]="auto"
           placeholder="Renseigner tous les Pokémon pour choisir l'adversaire"
           [formField]="attackForm.target"
    >
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of options; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
